h1,h4{
    font-family: 'Bebas Neue', cursive;
}

h2,h5,h6,h3,p{
    font-family: 'Roboto', sans-serif;
}
/* manu */

.left-icon {
        float: left;
}

.left-icon h2 {
    margin: 0px 75px;
    font-size: 40px;
}
.left-icon span{
    color:#b66537;
}
.header-manu ul{
    text-align: right;
    font-size: 25px;
    font-weight: 600;
}
.header-manu ul li{
    display: inline-block;
    margin-left: 30px;
    margin-right: 20px;
}
.header-manu ul li a{
    text-decoration: none;
    color: black;
}

/* profile section */

.section-1::after{
    content: "";
    clear: both;
    display: block;
}
.sec1-text{
    width: 45%;
    float: left;
    margin: 80px 70px;
}
.sec1-text h1{
    font-size: 74px;
    line-height: 20px;
    font-weight: 400;
    color: #363958;
}
.sec1-text span{
    color: #FF8367;
}
.sec1-text p{
    color: #3E3E3E;
    font-size: 16px;
    line-height: 24px;
    width: 352px;
}
.hire-btn{
    padding: 12px 27px;
    background: #FF8063;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
.hire-btn a{
    text-decoration: none;
    color: white;
}
.se1-image{
    width: 40%;
    float: right;
    margin-top: 30px;
}
.se1-image img{
    max-width: 100%;
}

/* about section */
#about-me {
    padding-bottom: 50px;
}
.section-2::after{
    content: "";
    clear: both;
    display: block;
}
.sec2-image {
    width: 45%;
    float: left;
}
.sec2-image img{
    max-width: 90%;
}
.sec2-text {
    width: 40%;
    float: left;
    margin-left: 165px
}
.sec2-text h1{
    font-size: 74px;
    line-height: 20px;
    font-weight: 400;
    color: #363958;
}
.sec2-text p{
    color: #3E3E3E;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 30px;
}
.cv-btn {
    padding: 16px 35px;
    background: #FC6354;
    border: none;
    border-radius: 7px;
    font-size: 22px;
}
.cv-btn a{
    text-decoration: none;
    color: white;
}
/* portfolio section */

#portfolio{
    background: #F8F9FC;
    padding-bottom: 150px;
}
.portfolio-text{
    text-align: center;
}
.portfolio-text h1{
    font-size: 74px;
    font-weight: 400;
    color: #363958;
}
.portfolio-text span{
    color: #FF8367;
}
/* work item */
.work-item {
    width: 80%;
    height: 295px;
    margin: 0px auto;
}

.work-item::after{
    content: "";
    clear: both;
    display: block;
}
.single-item {
    height: 290px;
    width: 31%;
    float: left;
    border: none;
    margin: 5px 10px;
    box-shadow: 5px 5px 10px #7b6969;
    border-radius: 10px;
}
.single-item-img img{
    max-width: 100%;
    display: inline-block;
}
.single-item-text h5{
    font-size: 15px;
    color: #363958;
    margin-top: 10px;
    margin-bottom: 3px;
}
.single-item-text p{
    font-size: 14px;
    margin-top: 0px;
}
/* skill section */
#skill-section{
    padding-top: 50px;
    padding-bottom: 100px;
}

.skill-titel h1 {
    text-align: center;
    color: #363958;
    font-size: 45px;
    font-weight: bold;
}
.single-skillbox {
    float: left;
    width: 29%;
}

.skill-box::after {
    content: "";
    clear: both;
    display: block;
}

.single-skillbox {
    margin-left: 48px;
    margin-top: 21px;
    border: none;
    box-shadow: 5px 5px 10px #7b6969;
    border-radius: 15px;
    background: #ecf0f1;
    height: 350px;
}


.fornt-img img {
    max-width: 66%;
    display: inline-block;
}

.fornt-img {
    text-align: center;
}

.fornt-text p {
    font-size: 17px;
    text-align: justify;
    font-family: cursive;
}






/* work inquiry */
#lets-chat{
    padding-top: 50px;
    padding-bottom: 100px;
}
.work-inquiry{
    height: 140px;
    background-image: linear-gradient(222deg, #4225B6,  #5D69E9);
    width: 80%;
    margin-left: 120px;
    border-radius: 20px;
}
.work-inquiry::after{
    content: "";
    clear: both;
    display: block;
}
.work-content{
    float: left;
    margin-left: 235px;
}
.work-content h1{
    font-size: 50px;
    font-weight: 400;
    color: white;
}
.work-btn{
    float: left;
    margin-left: 220px;
    margin-top: 55px;
}
.chat-btn{
    padding: 12px 27px;
    background: #FF8063;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
.chat-btn a{
    text-decoration: none;
    color: white;
}

/* contect-us */
.contect-us{
    text-align: center;
}
.contect-us h3{
    font-size: 20px;
    font-family: math;
    font-weight: 400;
}
.contect-us h4{
    margin-top: -15px;
    margin-bottom: -7px;
    font-size: 26px;
    font-weight: 300;
}
.icon-section {
    text-align: center;
    font-size: 32px;
}

.icon-section img {
    max-width: 20px;
}